<div class="container main-cont">
  <div class="row">
    <div class="col-md-2 offset-xl-1">
      <!--Main Agent indicator-->
      <div class="source-wrapper text-center">
        <h4>Server<br>Agent</h4>
        <div class="status-icon-wrapper">
          <i class="far success status" placement="bottom" ngbTooltip="Click to view details" [ngClass]="{'success fa-check-circle': serverAgent?.status,'error fa-times-circle': !serverAgent?.status}" data-toggle="modal" data-target="#detailsModel" (click)="loadAgentValues(0)"></i>
        </div>
        <h6>Connection Status</h6>
        <h6 [ngClass]="{'success': serverAgent?.status,'error': !serverAgent?.status}">{{ serverAgent?.status? 'ACITIVE' : 'TERMINATED' }}</h6>
        <pre>Last Checked: <br>{{ serverAgent?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
    <div class="col-md-2">
      <!--Solar PV Agent indicator-->
      <div class="source-wrapper text-center">
        <h4>Solar PV<br>Agent</h4>
        <div class="status-icon-wrapper">
          <i class="far status" placement="bottom" ngbTooltip="Click to view details" [ngClass]="{'success fa-check-circle': solarPvAgent?.status,'error fa-times-circle': !solarPvAgent?.status}" data-toggle="modal" data-target="#detailsModel" (click)="loadAgentValues(1)"></i>
        </div>
        <h6>Connection Status</h6>
        <h6 [ngClass]="{'success': solarPvAgent?.status ,'error': !solarPvAgent?.status}">{{ solarPvAgent?.status? "ACTIVE": "TERMINATED" }}</h6>
        <pre>Last Checked <br>{{ solarPvAgent?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
    <div class="col-md-2">
      <!--Wind Gen. Agent indicator-->
      <div class="source-wrapper text-center">
        <h4>Winds Gen.<br>Agent</h4>
        <div class="status-icon-wrapper">
          <i class="far status" placement="bottom" ngbTooltip="Click to view details" [ngClass]="{'success fa-check-circle': windGenAgent?.status,'error fa-times-circle': !windGenAgent?.status}" data-toggle="modal" data-target="#detailsModel" (click)="loadAgentValues(2)"></i>
        </div>
        <h6>Connection Status</h6>
        <h6 [ngClass]="{'success': windGenAgent?.status,'error': !windGenAgent?.status}">{{ windGenAgent?.status? 'ACTIVE': 'TERMINATED' }}</h6>
        <pre class="last-checked">Last Checked <br>{{ windGenAgent?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
<!--    <div class="col-md-2">-->
<!--      &lt;!&ndash;Battery Agent indicator&ndash;&gt;-->
<!--      <div class="source-wrapper text-center">-->
<!--        <h4>Battery<br>Agent</h4>-->
<!--        <div class="status-battery-wrapper">-->
<!--          <div class="battery" [ngClass]="{ 'battery-warn': batteryPercentage<=25, 'battery-alert' : batteryPercentage<=10 }">-->
<!--            <div class="battery-level text-center" [ngStyle]="{ 'height': batteryPercentage+'%' }" [ngClass]="{ 'battery-level-full': batteryPercentage==100, 'battery-level-warn': batteryPercentage<=25, 'battery-level-alert' : batteryPercentage<=10 }"><div>{{ batteryPercentage+'%' }}</div></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h6>Percentage : {{ batteryPercentage+'%' }}</h6>-->
<!--        <h6 [ngClass]="{'success': batteryAgent=='ACTIVE','error': batteryAgent=='TERMINATED'}">{{ batteryAgent }}</h6>-->
<!--        <pre class="last-checked">Last Checked:</pre>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-md-2">
      <!--Load Agent indicator-->
      <div class="source-wrapper text-center">
        <h4>Load<br>Agent 01</h4>
        <div class="status-icon-wrapper">
          <i class="far status" placement="bottom" ngbTooltip="Click to view details" [ngClass]="{'success fa-check-circle': loadAgent_1?.status,'error fa-times-circle': !loadAgent_1?.status}" data-toggle="modal" data-target="#detailsModel" (click)="loadAgentValues(3)"></i>
        </div>
        <h6>Connection Status</h6>
        <h6 [ngClass]="{'success': loadAgent_1?.status,'error': !loadAgent_1?.status}">{{ loadAgent_1?.status? 'ACTIVE': 'TERMINATED' }}</h6>
        <pre class="last-checked">Last Checked <br>{{ loadAgent_1?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>

    <div class="col-md-2">
      <!--Load Agent indicator-->
      <div class="source-wrapper text-center">
        <h4>Load<br>Agent 02</h4>
        <div class="status-icon-wrapper">
          <i class="far status" placement="bottom" ngbTooltip="Click to view details" [ngClass]="{'success fa-check-circle': loadAgent_2?.status,'error fa-times-circle': !loadAgent_2?.status}" data-toggle="modal" data-target="#detailsModel" (click)="loadAgentValues(4)"></i>
        </div>
        <h6>Connection Status</h6>
        <h6 [ngClass]="{'success': loadAgent_2?.status,'error': !loadAgent_2?.status}">{{ loadAgent_2?.status? 'ACTIVE': 'TERMINATED' }}</h6>
        <pre class="last-checked">Last Checked <br>{{ loadAgent_2?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailsModel" tabindex="-1" role="dialog" aria-labelledby="dataModel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto d-block" id="exampleModalLongTitle">{{ modelTitle }} Data</h5>
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table text-center table-hover">
          <thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ modelLoadedAgent.property_1.name }}</td>
            <td [ngClass]="{'success': modelLoadedAgent.property_1.value,'error': !modelLoadedAgent.property_1.value}">{{ modelLoadedAgent.property_1.value? 'ACTIVE': "TERMINATED" }}</td>
          </tr>
          <tr>
          <tr>
            <td>{{ modelLoadedAgent.property_2.name }}</td>
            <td>{{ modelLoadedAgent.property_2.value }}</td>
          </tr>
          <tr>
            <td>{{ modelLoadedAgent.property_3.name }}</td>
            <td>{{ modelLoadedAgent.property_3.value }}</td>
          </tr>
          <tr>
            <td>{{ modelLoadedAgent.property_4.name }}</td>
            <td>{{ modelLoadedAgent.property_4.value }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
