<app-navbar></app-navbar>
<app-floating-btn></app-floating-btn>
<div class="container user-details">
  <h2 class="text-center page-title" >About Us</h2>
  <!--Top layer -->
  <div class="row">
    <div class="col-md-3 mx-auto d-block text-center">
      <a href="https://www.linkedin.com/in/udayanga-hemapala-1b8a53168/" target="_blank"><img src="assets/about-page/imgs/hemapala.jpg" class="usr-image top-usr-img" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Supervisor</div>
      <div class="usr-name">Prof. K. T. M. U. Hemapala</div>
      <div class="usr-designation">B.Sc. Eng. (Moratuwa) PhD (Italy)</div>
      <div class="usr-designation">Department of Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>
    <div class="col-md-3 mx-auto d-block text-center">
      <a href="#" target="_blank"><img src="assets/about-page/imgs/user.jpg" class="usr-image top-usr-img" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Instructor</div>
      <div class="usr-name">Mr. H. V. V. Priyadarshana</div>
      <div class="usr-designation">Department of Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>
  </div>
  <!--Second layer -->
  <div class="row second-layer">
    <div class="col-md-3 mx-auto d-block text-center">
      <a href="https://www.linkedin.com/in/kaushali-perera-a6583015b/" target="_blank"><img src="assets/about-page/imgs/kaushali.jpg" class="usr-image" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Group Member</div>
      <div class="usr-name">Ms. M. K. Perera</div>
      <div class="usr-designation">Undergraduate, B.Sc. Engineering (Hons) in Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>

    <div class="col-md-3 mx-auto d-block text-center">
      <a href="https://www.linkedin.com/in/ravindi-disanayaka-124a9315a/" target="_blank"><img src="assets/about-page/imgs/ravindi.jpg" class="usr-image" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Group Member</div>
      <div class="usr-name">Ms. R. U. I. Disanayaka</div>
      <div class="usr-designation">Undergraduate, B.Sc. Engineering (Hons) in Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>

    <div class="col-md-3 mx-auto d-block text-center">
      <a href="https://www.linkedin.com/in/chathuranga-saman-kumara-354726138/" target="_blank"><img src="assets/about-page/imgs/saman.jpg" class="usr-image" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Group Member</div>
      <div class="usr-name">Mr. E. M. C. S. Kumara</div>
      <div class="usr-designation">Undergraduate, B.Sc. Engineering (Hons) in Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>

    <div class="col-md-3 mx-auto d-block text-center">
      <a href="https://www.linkedin.com/in/sapumal-walisundara/" target="_blank"><img src="assets/about-page/imgs/sapumal.jpg" class="usr-image" ngbTooltip="Goto LinkedIn profile" placement="bottom"></a>
      <div class="usr-role">Group Member</div>
      <div class="usr-name">Mr. W. M. C. S. B. Walisundara</div>
      <div class="usr-designation">Undergraduate, B.Sc. Engineering (Hons) in Electrical Engineering</div>
      <div class="usr-designation">University of Moratuwa.</div>
    </div>
  </div>
</div>
<app-footerbar [textColor]="'black'"></app-footerbar>
