<footer>
  <nav class="navbar  text-center">
    <div class="w-100 social-icons text-center">
      <a [ngStyle]="{ 'color': textColor }" href="#"><i class="fab fa-facebook-f"></i></a>
      <a [ngStyle]="{ 'color': textColor }" href="#"><i class="fab fa-google-plus-g"></i></a>
      <a [ngStyle]="{ 'color': textColor }" href="#"><i class="fab fa-twitter"></i></a>
      <a [ngStyle]="{ 'color': textColor }" href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="w-100 footer-text text-center" [ngStyle]="{ 'color': textColor }">
      Team EE FYP, Final Year Project (15 Batch), Department of Electrical & Engineering, University of Moratuwa.
    </div>
    <div class="w-100 footer-text text-center" [ngStyle]="{ 'color': textColor }">
      © {{year}} All Rights Reversed.</div>
  </nav>
</footer>
