<div class="container main-cont">
  <div class="row">
    <div class="col-md-3">
      <!--Grid Connection indicator-->
      <div class="source-wrapper text-center">
        <h4>Grid Connection</h4>
        <div class="status-icon-wrapper">
      <i class="far success status" [ngClass]="{'success fa-check-circle': girdConn?.status,'error fa-times-circle': !girdConn?.status}"></i>
        </div>
        <h6>Connection Status : {{ girdConn?.status? 'ON': 'OFF' }}</h6>
        <pre>Last Checked: <br>{{ girdConn?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
    <div class="col-md-3">
      <!--Diesel gene status indicator-->
      <div class="source-wrapper text-center">
        <h4>Wind Generator</h4>
        <div class="status-icon-wrapper">
          <i class="far status" [ngClass]="{'success fa-check-circle': windGenConn?.status,'error fa-times-circle': !windGenConn?.status}"></i>
        </div>
        <h6>Connection Status :{{ windGenConn?.status? 'ON': 'OFF' }} </h6>
        <pre>Last Checked: <br>{{ windGenConn?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
    <div class="col-md-3">
      <!--Solar PV source status indicator-->
      <div class="source-wrapper text-center">
        <h4>Solar PV</h4>
        <div class="status-icon-wrapper">
          <i class="far status" [ngClass]="{'success fa-check-circle': solarPvConn?.status,'error fa-times-circle': !solarPvConn?.status}"></i>
        </div>
        <h6>Connection Status : {{ solarPvConn?.status? 'ON': 'OFF' }}</h6>
        <pre class="last-checked">Last Checked: <br>{{ solarPvConn?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
    <div class="col-md-3">
      <!--Battery source status indicator-->
      <div class="source-wrapper text-center">
        <h4>Battery Status</h4>
        <div class="status-battery-wrapper">
          <div class="battery" [ngClass]="{ 'battery-warn': batteryConn?.presentage <=25, 'battery-alert' : batteryConn?.presentage<=10 }">
            <div class="battery-level text-center" [ngStyle]="{ 'height': batteryConn?.presentage+'%' }" [ngClass]="{ 'battery-level-full': batteryConn?.presentage==100, 'battery-level-warn': batteryConn?.presentage<=25, 'battery-level-alert' : batteryConn?.presentage<=10 }"><div>{{ batteryConn?.presentage+'%' }}</div></div>
          </div>
        </div>
        <h6>Percentage : {{ batteryConn?.presentage+'%' }}</h6>
        <pre class="last-checked">Last Checked: <br>{{ batteryConn?.lastchecked | date:'mediumTime' }}</pre>
      </div>
    </div>
  </div>
</div>
